<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <section class='body-container'>
      {% include header.html %}

      <div class='main-content'>
        <img src="http://brokensquare.com/Code/assets/landscape.jpg" />
        <h1>Dave's Last Show</h1>
        <h2>"Working The Steps"</h2>
        <iframe class='feature-video' src="https://www.youtube.com/embed/oSGd4OsO9XA" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class='side-content'>
        <h2>Sidebar</h2>
        {{ content }}
      </div>

      {% include footer.html %}
    </section>

  </body>

</html>
